@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Poppins:wght@200;300;500;600&family=Roboto+Mono:wght@500&family=Roboto+Slab:wght@100&display=swap');
*{
    padding: 0;
    margin: 0;
}
.body{
    background: url(img/bg.jpg);
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
#scoreBox{
    position: absolute;
    top: 20px;
    right: 200px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

#board{
    
    background-color: black;
    width: 90vmin;
    height: 75vmin;
    border: 2px solid black;
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
}
.head{
    
    /* background-color: green; */
    background: url(img/snakehead.png);
    border: 2px solid red;
    transform: scale(1.02);
    border-radius: 9px;
    background-size: contain;
    width: 40px;
    height: 40px;
    
    
}
.snake{
    background-color: rgb(64, 250, 64);
    border: .25vmin solid white;
    border-radius: 12px;
}

.food{
    
    background-color: red;
    border: .25px solid black;
    border-radius: 8px;
}
#highscoreBox{
    position: absolute;
    top: 65px;
    right: 140px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;

}
@media screen and (max-width:1550px) {
    #board{
      height: 60vh;
      width: 60vh;
    }
  }